<div class="container">
  <h1>Http Requests</h1>
  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="item" [(ngModel)]="titleTodo" />
    </div>
    <button class="btn" (click)="addTodo()">Add</button>
    <button class="btn" (click)="fetchTodo()">Load</button>
  </div>

  <hr />
  <div *ngIf="error; else mainBlock" class="error">
    <h2>Some error occurs:</h2>
    {{ error }}
  </div>
  <ng-template #mainBlock>
    <div *ngIf="!loading; else loader">
      <div *ngIf="todos.length; else emptyField">
        <div class="card" *ngFor="let item of todos">
          <p>
            <span [class.completed]="item.completed" class="item">{{
              item.title | titlecase
            }}</span>

            <span>
              <button class="btn btn-danger" (click)="deleteTodo(item.id)">
                Delete
              </button>
              <button
                class="btn"
                [disabled]="item.completed"
                (click)="completeTodo(item.id)"
              >
                Complete
              </button>
            </span>
          </p>
        </div>
      </div>
      <ng-template #emptyField>
        <h2>no records</h2>
      </ng-template>
    </div>
  </ng-template>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
